
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body class="text-center">
        <h1>Confirmation</h1>

        <h3>We have Received Your Request!</h3>

    <p>An IT Support Technician will Review Your Request Shortly</p>

    </body>

