@{
    Layout = "_Layout";
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


</head>
<body>
<h1>
    FAST Equipment Tool
</h1>
<p>
    Welcome to the FAST equipment loaning website! You can request to borrow any IT equipment as long as it is in stock!
</p>
</body>
</html>