@using Assignment1_Connor_Clarkson.Models
@model Assignment1_Connor_Clarkson.Models.Request
@{
    ViewData["Title"] = "Equipment Request Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipment Request Form</h1>

<form asp-action="RequestForm" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name">Full Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="First and Last Name">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone Number</label>
        <input type="text" class="form-control" asp-for="Phone" placeholder="(XXX)-XXX-XXXX">
    </div>

    <div class="form-group">
        <label asp-for="Role">Role</label>
        <select class="form-control" asp-for="Role">
            <option>Student</option>
            <option>Professor</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Equipment">Equipment</label>
        <select multiple class="form-control" asp-for="Equipment" asp-items="Html.GetEnumSelectList<Category>()">
            <option>Please Select an Equipment Category</option>

        </select>
    </div>
    <div class="form-group">
        <label asp-for="Reason">Please State Your Reason for the Request: </label>
        <textarea class="form-control" asp-for="Reason" rows="3" placeholder="Maximum 500 Characters"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Duration">Duration</label>
        <input type="number" class="form-control" asp-for="Duration" placeholder="How Many Days Are You Requesting?">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">
            Submit Request Form
        </button>
    </div> 

</form>